@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

:root {
    --ubuntu-font-family: 'Ubuntu', sans-serif;
    --dancing-script-font-family: 'Dancing Script', cursive;
    --roboto-slab-font-family: 'Roboto Slab', serif;
    --lightWeight-white-color: rgba(240, 248, 255, 0.85);
    --100opacity-white-color: rgb(255, 255, 255);
    --lightWeight-yellow-color: rgba(244, 252, 4, 0.85);
    --hover-yellow-color: rgb(199, 206, 3);
}

.header-anchor {
    background: url("../data/images/rsz_header_wallpaper.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.header-bar {
    padding: 1.4rem 4rem 1.4rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-bar {
    display: flex;
    letter-spacing: 0.08rem;
    font-size: 0.95rem;
    font-family: var(--ubuntu-font-family);
}

.header-nav-bar a {
    color: var(--lightWeight-white-color);
    transition: all 0.3s;
}

.header-nav-bar li {
    padding: 1.2rem 1.5rem 1rem 1rem;
}

.header-nav-bar a:hover {
    color: var(--hover-yellow-color);
}

#nav-bar-logo {
    letter-spacing: 0.1rem;
    font-family: var(--dancing-script-font-family);
    font-size: 2rem;
    color: var(--lightWeight-yellow-color);
    padding: 1.2rem 1.5rem 1rem 1rem;
    transition: all 0.3s;
}

.header-center-text {
    letter-spacing: 0.12rem;
    text-align: center;
    position: center;
    margin-top: 20vh;
    font-family: var(--ubuntu-font-family);
    color: var(--100opacity-white-color);
    font-size: 2.3rem;
    line-height: 5rem;
}

.header-center-text h2 {
    font-family: var(--roboto-slab-font-family);
    font-style: italic;
    font-size: 2rem;
}