@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

:root {
    --ubuntu-font-family: 'Ubuntu', sans-serif;
    --dancing-script-font-family: 'Dancing Script', cursive;
    --roboto-slab-font-family: 'Roboto Slab', serif;
    --scroll-background-color: #868686;
    --lightWeight-white-color: rgba(240, 248, 255, 0.85);
    --100opacity-white-color: rgb(255, 255, 255);
    --lightWeight-yellow-color: rgba(244, 252, 4, 0.85);
    --hover-yellow1-color: rgba(170, 177, 5, 0.85);
    --hover-yellow-color: rgb(199, 206, 3);
}

/* Scroll custom css codes */

::-webkit-scrollbar-track
{
    background-color: var(--scroll-background-color);
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: var(--scroll-background-color);
}

::-webkit-scrollbar-thumb
{
    background-color: #000000;
}

/* header anchor css codes */

.header-anchor {
    background: url("../data/images/rsz_header_wallpaper.jpg") no-repeat scroll;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    height: 100vh;
}

#header-bar {
    z-index: 5;
    width: 100%;
    position: fixed;
    padding: 1.4rem 7rem 1.4rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.7s;
}

.header-nav-bar {
    display: flex;
    letter-spacing: 0.08rem;
    font-size: 0.95rem;
    font-family: var(--ubuntu-font-family);
}

.header-nav-bar a {
    color: var(--lightWeight-white-color);
    transition: all 0.3s;
}

.header-nav-bar li {
    padding: 1.2rem 1.5rem 1rem 1rem;
}

.header-nav-bar a:hover {
    color: var(--hover-yellow-color);
}

#nav-bar-logo {
    letter-spacing: 0.1rem;
    font-family: var(--dancing-script-font-family);
    font-size: 2.5rem;
    color: var(--lightWeight-yellow-color);
    padding: 1.2rem 1.5rem 1rem 1rem;
    transition: all 0.3s;
}

.header-center-text {
    letter-spacing: 0.12rem;
    text-align: center;
    position: center;
    padding-top: 15rem;
    font-family: var(--ubuntu-font-family);
    color: var(--100opacity-white-color);
    font-size: 2.3rem;
    line-height: 5rem;
}

.header-center-text h2 {
    font-family: var(--roboto-slab-font-family);
    font-style: italic;
    font-size: 2rem;
}

.header-center-text button {
    cursor: pointer;
    color: var(--100opacity-white-color);
    background-color: var(--lightWeight-yellow-color);
    margin-top: 4rem;
    font-family: var(--ubuntu-font-family);
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1.4rem 2.7rem 1.4rem 2.7rem;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.header-center-text button:hover {
    background-color: var(--hover-yellow1-color);
}

/* service anchor css codes */

.services-anchor {
    padding-top: 5rem;
    text-align: center;
    font-family: var(--ubuntu-font-family);
    font-size: 1.7rem;
    color: #323232;
}

.services-article h1, h6 {
    line-height: 3rem;
}

.services-article p, h6 {
    color: rgba(50, 50, 50, 0.7);
    font-size: 1.1rem;
    font-weight: 700;
    font-family: var(--roboto-slab-font-family);
}

.services-article {
    line-height: 1.7rem;
    padding: 3rem 4rem 10rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-article article {
    margin: 2rem;
}
.services-article i {
    color: #cee506;
    margin-bottom: 1rem;
}

.services-article p {
    font-size: 0.9rem;
    margin-top: 1rem;
}

.services-anchor i {
    transition: all 1s;
}

.services-anchor i:hover {
    filter: brightness(125%);
}

/* portfolio css codes */

.portfolio-anchor {
    text-align: center;
    background-color: var(--lightWeight-white-color);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.portfolio-article {
    padding: 0 5.5rem 0 5.5rem;
    display: flex;
}

.portfolio-article1 {
    margin-top: 3.5rem;
}

.portfolio-content {
    background-color: var(--100opacity-white-color);
    width: 30vw;
    text-align: center;
    margin: 0.8rem;
}

.portfolio-anchor h1 {
    font-family: var(--ubuntu-font-family);
    font-size: 2.7rem;
    color: #323232;
}

.portfolio-content h2 {
    font-family: var(--ubuntu-font-family);
}

.portfolio-content h6 {
    color: rgba(50, 50, 50, 0.7);
    font-size: 1.1rem;
    font-weight: 700;
    font-family: var(--roboto-slab-font-family);
}

.portfolio-content img{
    width: 100%;
    transition: all 0.5s;
}

.portfolio-text-details h2 {
    padding-top: 1rem;
}

.portfolio-text-details h6 {
    padding-bottom: 1rem;
}

.img-hover:hover {
    filter: blur(2px);
}

/* about css codes */

.about-article {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-center-text h1 {
    text-align: center;
    font-family: var(--ubuntu-font-family);
    font-size: 2.7rem;
    color: #323232;
}

.about-center-text h6 {
    text-align: center;
    color: rgba(50, 50, 50, 0.7);
    font-size: 1.1rem;
    font-weight: 700;
    font-family: var(--roboto-slab-font-family);
}

.about-details-section {
    margin-top: 4rem;
}

.about-li-position {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-li-text1, .about-li-text3, .about-li-text5 {
    width: 20vw;
    text-align: right;
    margin-right: 45vw;
}

.about-li-text p {
    padding-top: 0.5rem;
    font-family: var(--roboto-slab-font-family);
    font-weight: 600;
    font-size: 0.9rem;
    color: rgba(50, 50, 50, 0.7);
}

.about-li-text h2 {
    line-height: 2rem;
    font-family: var(--ubuntu-font-family);
    font-weight: 600;
    color: black;
}

.about-img-div img {
    width: 100%;
    height: auto;
}

.about-img-div {
    position: absolute;
    overflow: hidden;
    background-color: #1da4e2;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    border: solid 7px #e9ecef;
}

.about-li2, .about-li3, .about-li4, .about-li5 {
    padding-top: 10rem;
}

.about-li-text2, .about-li-text4 {
    text-align: left;
    width: 20vw;
    margin-left: 45vw;
}

.about-details-diagram {
    position: relative;
}

.about-details-diagram:before {
    position: absolute;
    top: 0;
    bottom: 25px;
    width: 2px;
    margin-left: 50%;
    content: "";
    background-color: #e9ecef;
}

.about-img-div:hover {
    border-radius: 50%;
    border: solid 7px var(--hover-yellow-color);
}

/* our team css codes */

.ourTeam-anchor {
    background-color: var(--lightWeight-white-color);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ourTeam-contents {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ourTeam-center-text h1 {
    text-align: center;
    font-family: var(--ubuntu-font-family);
    font-size: 2.7rem;
    color: #323232;
}

.ourTeam-center-text h6 {
    text-align: center;
    color: rgba(50, 50, 50, 0.7);
    font-size: 1.1rem;
    font-weight: 700;
    font-family: var(--roboto-slab-font-family);
}

.ourTeam-li-img-div img {
    width: 100%;
    height: auto;
}

.ourTeam-li-img-div {
    overflow: hidden;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: solid 8px #e9ecef;
    transition: all 0.5s;

}

.ourTeam-li {
    text-align: center;
}

.ourTeam-li h2 {
    margin-top: 1rem;
    font-family: var(--ubuntu-font-family);
}

.ourTeam-li h5 {
    line-height: 1.5rem;
    color: rgba(50, 50, 50, 0.7);
    font-size: 0.9rem;
    font-weight: 700;
    font-family: var(--roboto-slab-font-family);
}

.ourTeam-li i {
    color: #1c1c1c;
    padding: 0.5rem;
    transition: all 0.5s;
}


.ourTeam-contents-diagram {
    padding: 0 10rem 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ourTeam-anchor p {
    text-align: center;
    line-height: 1.5rem;
    color: rgba(50, 50, 50, 0.7);
    font-size: 0.9rem;
    font-weight: 700;
    font-family: var(--roboto-slab-font-family);
}

.ourTeam-li i:hover {
    color: var(--hover-yellow-color);
}

.ourTeam-li-img-div:hover {
    border-radius: 50%;
    border: solid 8px var(--hover-yellow-color);
}

/* famous logo css codes */

.famous-logo-anchor {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.famous-logo-ul-diagram img {
    width: 60%;
}

.famous-logo-ul-diagram {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8rem 0 8rem;
}

.famous-logo-li {
    text-align: center;
}

#ibm-pic {
    width: 40%;
}